################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/RFIDRead/bin/Debug/net6.0
/RFIDRead/obj
